@media screen and (min-width: 0) {
    .titulo {
        font-size: xx-large;
    }
    .img_seta {
        display: none;
    }
   .form-control, .btn {
        width: 100%;
   }
    .row {
        padding-right: 0;
        margin-top: 20px;
        display: block;
    }
    .avaliacao > .btn,
    .avaliacao > .descricao,
    .descricao {
        width: auto;
        line-height: 20px;
    }
}
@media screen and (min-width: 992px) {
     .titulo {
        font-size: 2.5rem;
    }
    .img_seta {
        display: block;
    }
    .form-control, .btn {
        width: 50%;
   }
    .row {
        display: flex;
    }
    .avaliacao > .descricao {
        width: 50%;
    }
}