@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Mochiy+Pop+One&family=Pacifico&display=swap");

/*SECTION PRINCIPAL*/
.section_principal {
  background: linear-gradient(to bottom, #7092BF 30%, #fff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.titulo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 15px;
}
.descricao {
  width: 70%;
  color: #f3f0f0;
  font-family: cursive;
}
.coluna {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.form-control {
    height: 50px;
    margin-bottom: 15px;
  }
.img_seta {
  animation: 1s seta infinite;
  width: 100px;
  position: absolute;
  top: -26px;
  left: 199px
} 
.btn {
  background-color: black;
  border: none;
  height: 50px;
}
.imagens {
  width: 50%;
  border-radius: 30%;
}
/*SECTION DE INFORMAÇÕES */
.info {
  width: 100%;
  height: auto;
  background: #fff;
  margin: 0 auto;
}
.titulo_info {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0;
}
.texto_info {
  width: 70%;
  font-size: .8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
}
.avaliacao {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.avaliacao > .descricao {
  color: black;
  margin: 30px;
}
.avaliacao > .btn {
  margin-bottom: 20px;
}
/*RODAPÉ*/
.footer {
  width: 100%;
  height: auto;
}
.direitos,
.rede_social {
    display: flex; 
    flex-direction: column;
}
.autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.copyright {
  color: #dbd9d9e1;
  margin: 5px 0;
}
.links {
  text-decoration: none;
  color: #dbd9d9e1;
}
/*ANIMAÇÃO DA SETA */
@keyframes seta {
    to {
        transform:translateX(10px);
    }

}